.ipynb_checkpoints/
.config/

# Python / Virtual Environment
__pycache__/
*.pyc
venv/
env/
.env

# Data & Models
# Hide images but KEEP url lists
*/IMAGES/
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.crdownload
*.part
*.pth
*.pt
*.h5
*.pkl

# Zipped datasets
*.zip
*.tar
*.gz

# Ignore specific large data directories entirely
feedback_data/
temp_ingest/
uploads/
data/
kaggle_dataset/
models/

# Ripme logs/binaries
scripts/rip.properties
scripts/ripme.jar
scripts/history.json

# IDE / OS
.DS_Store
.vscode/
.idea/
